/backend/node_modules
**/.env
**/__pycache__/
**/logs/
**/.vscode/
**/.idea/
**/environments/
**/dist/
**/node_modules
**/public

mongodb_queries.txt

inject/*.csv
inject/*.txt
inject/*.pyc
/testfaxe/*
/inject/medlines_NER_model/*
/webapp/assets/
/webapp/uploads/
