<div class="no-data" *ngIf="flagIsNoDataAvailable">
    Ziemlich leer hier, sieht aus, als ob keine weiteren Daten zu labeln wären...
    <button type="button" mat-flat-button (click)="getNerLabelObject()">Aktualisieren</button>
</div>

<div *ngIf="!flagIsNoDataAvailable">
    <div class="nerheader">

        <div class="card">
            <div class="content entitiyselect-row">
                    <div 
                    *ngFor="let t of tags; let i = index;" 
                    [class]="((i == tagIdxSelected) ? ('entity-select selected ent_' + i ) : 'entity-select ent_' + i) + ((!t.prod) ? ' non-prod' : '') + ((!getIncludeNonProdTags()) ? ' hide' : '')" 
                    (click)="selectEntity(i, t._id)" 
                    >
                        <span class="shortcut">{{t.shortcut}}</span>
                        <span class="label" [class.selected]="i == tagIdxSelected">{{t.value | trimLongStr:15}}</span>
                        <mat-icon class="selected-icon" *ngIf="i == tagIdxSelected" aria-hidden="false" aria-label="Example home icon">done</mat-icon>
                    </div>
            </div>
        </div>

        <div class="settings">
                <div class="card">
                        <div class="content">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Einstellungen
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Darstellung & Labelling
                                    </mat-panel-description>
                                    </mat-expansion-panel-header>
                                
                                    <div class="mb setting-row">
                                        <button (click)="incrementZoom(-0.1)" mat-button type="button">
                                            -
                                        </button>
                                    
                                        <mat-form-field class="page-number">
                                            <input matInput type="number" placeholder="Zoom" [(ngModel)]="scaleFactor" pattern="-?[0-9]*(\.[0-9]+)?">
                                            <mat-error>Input is not a number!</mat-error>
                                        </mat-form-field>
                                        <button (click)="incrementZoom(0.1)" mat-button type="button">
                                            +
                                        </button>
                                    </div>
        
                                    <div class="setting-row checkbox-itm" >
                                        <mat-checkbox (change)="toggleClassHidePerson($event)">Person schwärzen?</mat-checkbox>
                                    </div>
        
        
                                    <div class="setting-row checkbox-itm" >
                                        <mat-checkbox [(ngModel)]="flagShowEntSmall" (change)="toggleClassShowEnt($event)">Entitäten einblenden?</mat-checkbox>
                                    </div>
                                    
                                    <div class="setting-row checkbox-itm" *ngIf="!flagIsDemo">
                                        <mat-checkbox [(ngModel)]="flagShowRawText" >Roh-Text einblenden?</mat-checkbox>
                                    </div>
                                    
                                    <div class="setting-row" *ngIf="!flagIsDemo">
                                        <mat-form-field class="newEntLabel" >
                                            <input  (keyup.enter)="addNewTag()" matInput type="text" placeholder="Neues Label" (input)="updateShortcut()" [(ngModel)]="newEntText">
                                        </mat-form-field>
                        
                                        <mat-form-field class="newLabelShortcutInput">
                                            <input (keyup.enter)="addNewTag()" matInput type="text" placeholder="Shortcut" [(ngModel)]="newEntTextShortCut">
                                        </mat-form-field>
                                    </div>

                                    <div class="setting-row">

                                        <mat-form-field class="entity-types" >
                                                <mat-label>Entitätsmatcher</mat-label>
                                            <mat-select (selectionChange)="handleDisplayEntityChange($event)" [(value)]="selectedEntityTypeId">
                                                <mat-option *ngFor="let ent of entityTypes" [value]="ent.id">
                                                {{ent.val}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                    
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
        
                

            </div>

    </div>

    <div class="container ner" >



        <div class="mainbody">

            
            <div class="card textbody" [class.large]="!flagShowRawText">
                <div class="title nerlabel" *ngIf="!flagIsDemo">

                    <button (click)="prevPage()" mat-button type="button">
                        -
                    </button>
                <div class="pageInfo">
                    Seite {{pageIdxSelected+1}} von {{totalNumPages}}
                    <p class="details linktoobj" [matMenuTriggerFor]="menu">{{textObj._id}} [status:{{textObj.wfstatus}} ] </p> 
                    <!-- <a class="details linktoobj" routerLink="/admin/label" [queryParams]="{ objId: textObj._id}" routerLinkActive="active" >{{textObj._id}} [status:{{textObj.wfstatus}} ]</a>-->

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="viewObjMenu">Ansehen</button>
                        <button mat-menu-item [matMenuTriggerFor]="execObjMenu">Workflow</button>
                        <button mat-menu-item (click)="copyUrlToClipboard()">URL kopieren</button>
                    </mat-menu>
                    
                    <mat-menu #viewObjMenu="matMenu" >
                            <a mat-menu-item routerLink="/admin/label" [queryParams]="{ objId: textObj._id}" routerLinkActive="active">Bbox label</a>
                            <a mat-menu-item routerLink="/logs" [queryParams]="{ objId: textObj._id}" routerLinkActive="active">Logs</a>
                    
                        </mat-menu>

                    <mat-menu #execObjMenu="matMenu">
                        <button mat-menu-item (click)="issueObjToWf('pretag')">Pretag</button>
                        <button mat-menu-item (click)="issueObjToWf('ocr', ['ocr'])">OCR+Spellcheck</button>
                        <button mat-menu-item (click)="issueObjToWf('ocr', ['ocr', 'pretag'])">OCR+Spellcheck+Pretag</button>
                    </mat-menu>

                    
                    </div>
                
                    <button (click)="nextPage()" #tooltip="matTooltip" matTooltip="Bitte alle Seiten labeln." matTooltipPosition="right"  mat-button type="button">
                        +
                    </button>
                    
                </div>
            
                <div class="content" >
                    <p *ngIf="!annotatedText">
                        Kein Text auf dieser Seite gefunden
                    </p>
                    <div id="annotatedText" *ngIf="annotatedText" (mouseup)="showSelectedText($event)"
                            [class.largetext]="!flagShowRawText"
                            [style.font-size]="14*scaleFactor + 'px'" 
                            [style.letter-spacing]="1*scaleFactor + 'px'" 
                            [innerHTML]="annotatedText">
                    </div>
                </div>

            </div>

            <div class="card textbody" *ngIf="flagShowRawText" >
                    <div class="title nerlabel">
                        <div class="pageInfo">
                            Roh-Text per OCR
                            <p class="details">{{textObj._id}}</p>
                        </div>                
                    </div>
                    
                    <div class="content" >
                        <p *ngIf="!annotatedText">
                            Kein Text auf dieser Seite gefunden
                        </p>
                        <div  id="rawText"  [style.font-size]="14*scaleFactor + 'px'" 
                                [style.letter-spacing]="1*scaleFactor + 'px'" 
                                [innerHTML]="rawText">
                        </div>
                    </div>
        
                </div>

        </div>

    </div>

    <div class="card" *ngIf="!flagIsDemo">
        <div class="content">
            <div class="">

                <button type="button" class="disregard-button" mat-flat-button color="error"  (click)="disregardNerObject()">Aussortieren</button>
                <button type="button" class="next-button" mat-flat-button color="primary" [disabled]="!getIsFinal()" (click)="approveObject()">Bestätigen</button>

            </div>
        </div>
    </div>

</div>