<div class="no-data" *ngIf="flagIsNoDataAvailable">
        Ziemlich leer hier, sieht aus, als ob keine weiteren Daten zu labeln wären...
        <button type="button" mat-flat-button (click)="getNerLabelObject()">Aktualisieren</button>
    </div>


<div class="container" *ngIf="!flagIsNoDataAvailable">
    <div class="response">
        <div class="card">
            <div class="title nerlabel">

                <button (click)="prevPage()" mat-button type="button">
                    -
                </button>
               <div class="pageInfo">
                   Seite {{pageIdxSelected+1}} von {{totalNumPages}}
                   <p class="details">{{textObj._id}}</p>
                </div>
            
                <button (click)="nextPage()" mat-button type="button">
                    +
                </button>


                
            </div>
            <mat-progress-bar id="tmpLoad" [class.hide]="!tmpLoad"  mode="indeterminate"></mat-progress-bar>

            <div id="resultArea" class="content" >
                <p *ngIf="!annotatedText">
                    Kein Text auf dieser Seite gefunden
                </p>
                <div id="annotatedText" *ngIf="annotatedText" (mouseup)="showSelectedText($event)"
                        [style.font-size]="16*scaleFactor + 'px'" 
                        [style.letter-spacing]="1*scaleFactor + 'px'" 
                        [innerHTML]="annotatedText">
                </div>
            </div>

        </div>
    </div>
    
    <div class="settings">
        <div class="card">
            <div class="title">

                <mat-form-field class="newEntLabel">
                    <input (keyup.enter)="addNewTag()" matInput type="text" placeholder="Neues Label" [(ngModel)]="newEntText">
                </mat-form-field>

                <div [class]="(i == tagIdxSelected) ? ('entity-select selected ent_' + i ) : 'entity-select ent_' + i " *ngFor="let t of tags; let i = index;" (click)="selectEntity(i)" >
                    <mat-icon *ngIf="i == tagIdxSelected" aria-hidden="false" aria-label="Example home icon">done</mat-icon>
                    <span [class.selected]="i == tagIdxSelected">{{t.value}}</span>
                </div>
                
            </div>
            <div class="content">

                   
                
            </div>
        </div>

        <div class="card">
            <div class="title">
                Einstellungen
            </div>
            <div class="content">
                <div class="settings">

                    <div class="mb">
                        <button (click)="incrementZoom(-0.1)" mat-button type="button">
                            -
                        </button>
                    
                        <mat-form-field class="page-number">
                            <input matInput type="number" placeholder="Zoom" [(ngModel)]="scaleFactor" pattern="-?[0-9]*(\.[0-9]+)?">
                            <mat-error>Input is not a number!</mat-error>
                        </mat-form-field>
                    
                        <button (click)="incrementZoom(0.1)" mat-button type="button">
                            +
                        </button>
                    </div>
                    

                </div>
            </div>
        </div>

        <div class="card">
                <div class="title">
                    Aktionen
                </div>
                <div class="content">
                    <div class="settings">
    
                        <button type="button" class="disregard-button" mat-flat-button color="error"  (click)="disregardNerObject()">Abbrechen</button>
                        <button type="button" class="next-button" mat-flat-button color="primary" [disabled]="!getIsFinal()" (click)="approveObject()">Bestätigen</button>
    
                    </div>
                </div>
            </div>

    </div>

</div>
