<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav  #drawer class="sidenav" [class.hide]="!authenticationService.isAuthorized()" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="api.navOpen">
      
    <mat-toolbar class="menu-item-top"></mat-toolbar>
    <mat-nav-list>
      <a class="menu-item" mat-list-item routerLink="/search" routerLinkActive="active">
          <mat-icon  aria-hidden="false" >search</mat-icon>
      </a>
      <a class="menu-item" mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon  aria-hidden="false" >code</mat-icon>
      </a>
      <!--
      <a class="menu-item" mat-list-item routerLink="/nlp" routerLinkActive="active">
          <mat-icon  aria-hidden="false" >memory</mat-icon>
      </a>
      -->
      <a class="menu-item" mat-list-item  routerLink="/admin/label" [queryParams]="{ wf: true}" routerLinkActive="active">
          <mat-icon  aria-hidden="false" >gamepad</mat-icon>
      </a>
      <a class="menu-item" mat-list-item  routerLink="/admin/speller" [queryParams]="{ wf: true}" routerLinkActive="active">
        <mat-icon  aria-hidden="false" >spellcheck</mat-icon>
      </a>
      <a class="menu-item" mat-list-item  routerLink="/admin/nerlabel" [queryParams]="{ wf: true}"  routerLinkActive="active" >
          <mat-icon  aria-hidden="false" >text_format</mat-icon>
        </a>
        <a class="menu-item" mat-list-item routerLink="/stats" routerLinkActive="active">
          <mat-icon  aria-hidden="false" >bar_chart</mat-icon>
      </a>
      <a class="menu-item" mat-list-item routerLink="/logs" routerLinkActive="active" >
        <mat-icon  aria-hidden="false" >subject</mat-icon>
      </a>
      <a class="menu-item" mat-list-item routerLink="/settings" routerLinkActive="active" >
        <mat-icon  aria-hidden="false" >settings</mat-icon>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="the-toolbar" color="primary">
      <button
        class="menu-btn"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        [class.hide]="!authenticationService.isAuthorized()" 
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-toolbar-row>
          <mat-icon class="menu-icon menu-btn" (click)="drawer.toggle()" [class.hide]="!authenticationService.isAuthorized()"  aria-hidden="false" aria-label="Menu icon">menu</mat-icon>
          <mat-icon class="search-icon" matPrefix *ngIf="isSearchActive()">search</mat-icon>
          <input 
          *ngIf="isSearchActive()"
          class="header-search"
          matInput 
          type="search" placeholder="Mit medlines Medizintexte durchsuchen"
          maxlength="256" 
          [(ngModel)]='api.searchQryString' 
          (keyup.enter)="execSearch()">
          <span class="example-spacer"></span>


          
          <span class="home" routerLink="home" href="#" routerLinkActive="active">
            <p style="margin-top: 10px;">medlines.tech</p>
            <p class="sub-home" >Medizinische Texte nutzen.</p>
          </span>

          <button class="account-btn" mat-mini-fab aria-label="usermenu" [matMenuTriggerFor]="menu" *ngIf="authenticationService.isAuthorized()">
            <mat-icon>account_circle</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
              <button mat-menu-item >{{currentUserName}}</button>
              
              <button mat-menu-item (click)="authenticationService.logout()">Logout</button>
              <div class="divider"></div>
              <div class="status-header" mat-menu-item *ngFor="let itm of progressService.hbElementList;"><div class="status" [class.online]="itm.worker.length > 0"></div>{{itm.type}}</div>
          </mat-menu>


        </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->



    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container> 
