<div class="main_search_container full" *ngIf="!api.flagHasSearched">

    <div class="medlines-label">medlines</div>

    <div class="search">
        <mat-icon class="search-icon" matPrefix>search</mat-icon>
        <input 
        class="main-search"
        matInput 
        type="search" placeholder="Mit medlines Medizintexte durchsuchen"
        maxlength="256" 
        [(ngModel)]='api.searchQryString' 
        (ngModelChange)='changed($event)'
        (keyup.enter)="execSearch()">
        <button type="button" class="search-button" mat-flat-button color="primary"  (click)="execSearch()">Los!</button>
    </div>

</div>

<div class="filter-container" *ngIf="api.flagHasSearched">

    <div class="filters">

    </div>

    <div class="search-meta">
        {{api.searchResults.length}} Ergebnisse für '{{api.searchQryStringText}}' in ({{api.lastSearchTime | number : '1.2-2'}} s)
    </div>

</div>

<mat-card class="resultcard">
    <mat-accordion >
        <mat-expansion-panel *ngFor="let r of api.searchResults; let i = index;" [expanded]="api.searchResults.length == 1">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{r._id}}
            </mat-panel-title>
            <mat-panel-description>
                    {{r.pages.length}} Seiten //  WF: {{r.wfstatus}}
            </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="details">
                <p>
                    {{r.fileName}}
                </p>
                <p>
                    {{r.patName}} / ({{r.patNummer}})
                </p>
            </div>
            
            <div class="wf">
                <div *ngFor="let wf of r.wfstatus_change; let j = index;" class="item" 
                [class.final]="wf.wfstatus == 5"
                [class.hasRoute]="getIfWfUpdateHasRoute(wf)"
                [class.bad]="wf.wfstatus < 0"
                >
                    <div class="status" *ngIf="!getIfWfUpdateHasRoute(wf)" [matTooltip]="getWfToolTip(wf)"> 
                            {{wf.wfstatus}}
                    </div>

                    <a  *ngIf="getIfWfUpdateHasRoute(wf)" 
                        class="status" 
                        mat-menu-item 
                        [matTooltip]="getWfToolTip(wf)"
                        [routerLink]="getWfRoute(wf)"
                        [queryParams]="{ objId: r._id}" routerLinkActive="active">{{wf.wfstatus}}</a>


                    <mat-icon class="arrow" aria-hidden="false" aria-label="home icon" *ngIf="j<r.wfstatus_change.length-1">arrow_right_alt</mat-icon>
                    
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
