<mat-card>
                <h2>Named Entity Labels</h2>
                <table class="tags-settings">
                        <tr>
                                <th>Value</th>
                                <th>Display</th>
                                <th>Examples</th>
                                <th>Shortcut</th>
                                <th>BGColor</th>
                                <th>TextColor</th>
                                <th>Prod</th>
                        </tr>
                        <tr *ngFor = 'let row of tags' >
                                <td>{{row.value}}</td>
                                <td>
                                        <mat-form-field class="example-full-width">
                                                <input matInput  [(ngModel)]="row.display" (ngModelChange)="handleTagChange(row, $event)" >
                                        </mat-form-field>
                                </td>
                                <td>
                                        <mat-form-field class="example-full-width">
                                                <input matInput  [(ngModel)]="row.tooltip" (ngModelChange)="handleTagChange(row, $event)" >
                                        </mat-form-field>
                                </td>
                                <td>
                                        <mat-form-field class="shortcut-input">
                                                <input matInput  [(ngModel)]="row.shortcut" (ngModelChange)="updateTag(row)" >
                                        </mat-form-field>
                                </td>
                                <td>
                                        <input class="bgColorDemo" cpOutputFormat='hex'  [(colorPicker)]="row.bgColor" (colorPickerSelect)="changeColor($event, row)" [style.background]="row.bgColor"/>
                                </td>
                                <td>
                                        <span class="textColorDemo" [style.color]="row.textColor"
                                                [cpPosition]="'bottom'"
                                                [cpPositionOffset]="'50%'"
                                                cpOutputFormat='hex'
                                                [cpPositionRelativeToArrow]="true"
                                                (colorPickerSelect)="changeColor($event, row)"
                                                [(colorPicker)]="row.textColor">{{row.display}}</span>
                                </td>
                                <td> <mat-checkbox [(ngModel)]="row.prod" (ngModelChange)="updateTag(row)" >Prod?</mat-checkbox></td>
                        </tr>
                </table>       
</mat-card>

<mat-card class="users">
        <h2>User</h2>
        <table class="user-settings">

                <tr *ngFor='let user of users; let i=index;' >
                        <td>{{user.userName}}</td>
                        <td>
                                <mat-form-field class="roles-chip-list">
                                        <mat-chip-list #chipList aria-label="Roles">
                                                <mat-chip *ngFor="let r of user.roles;" [selectable]="selectable"
                                                        [removable]="removable" (removed)="removeRole(i, r)">
                                                {{r}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                </mat-chip>
                                                <input placeholder="Rolle"
                                                        [matChipInputFor]="chipList"
                                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                        [matChipInputAddOnBlur]="addOnBlur"
                                                        (matChipInputTokenEnd)="addRole(i, $event)">
                                        </mat-chip-list>
                                </mat-form-field>
                        </td>
                        <td> <mat-checkbox [(ngModel)]="user.active" (ngModelChange)="updateUser(user)" >Aktiv?</mat-checkbox></td>
                </tr>
        </table>

        <div class="register">
                <form [formGroup]="loginForm" (ngSubmit)="registerUser()">

                        <div class="form-group ">
                                
                
                                <mat-form-field class="login-forms">
                                        <input matInput type="text" placeholder="Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                </mat-form-field>
                
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">Username is required</div>
                                </div>

                                
                                <mat-form-field class="login-forms">
                                        <input matInput type="password"  placeholder="Passwort"  formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                                </mat-form-field>
                
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                        </div>
                        <div class="form-group">
                                <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary login-btn">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Registrieren
                                </button>
                        </div>
                </form>
        </div>
</mat-card>

<mat-card>
        <h2>Environment</h2>
        <p>
                {{api.ENV}}
        </p>
</mat-card>

<mat-card>
        <h2>Heartbeat</h2>
        <div *ngFor="let itm of progressService.hbElementList;">
                <h4 class="status-header">
                        <div class="status" [class.online]="itm.worker.length > 0"></div>
                        {{itm.type}}
                </h4>
                <p *ngFor="let worker of itm.worker;">
                        {{worker}}
                </p>
        </div>
</mat-card>