.tags-settings{
    text-align: left;
}

.tags-settings td{
    max-width: 300px;
    padding: 0px 20px 0px 0px;
}

.textDemoColor{
    font-weight: 600;
}

.bgColorDemo{
    width: 50px;
}

.shortcut-input{
    width: 30px; 
}

.status-header{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.status{
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background-color: red;
    margin-right: 20px;
}

.status.online{
    background-color: green;
}