.tags-settings{
    text-align: left;
}

.tags-settings td{
    max-width: 300px;
    padding: 0px 20px 0px 0px;
}

.textDemoColor{
    font-weight: 600;
}

.bgColorDemo{
    width: 50px;
}

.shortcut-input{
    width: 30px; 
}