.spinner-container{
    z-index: 99;
    width: 100%;
    height: 100%;
    flex-flow: wrap;
    position: absolute;
    background-color: #ffffffc2;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-spinner{
    z-index: 3;
}

app-nav{
    z-index: 1;
}

.spinner-container.hideLoader{
    display: none;
}

/* CARD */ 


.card .title{
    padding: 5px;
    border-bottom: 0.5px solid grey;
    margin-bottom: 20px; 
}

.card{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    margin: 20px; 
    padding: 20px; 
    background-color: white;
}

.response .card{
    overflow: hidden;
}


.card .footer{
    display: flex;
    justify-content: center;
}


.entity.non-prod{
    border: 2px dashed red !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: #3f51b5 !important;
}


.backdrop-container{
    z-index: 99;
    width: 100%;
    height: 100%;
    flex-flow: wrap;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
}

.backdrop-container.hide{
    display: none;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3f51b5; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #20295f; 
}